body{
    background-color: #F3F3F1;

}
.bar-chart{
    padding: 1rem;
    border-radius: 20px;
    background-color: white;
    width: 60%; /* Set width for the chart container */
    max-width: 800px; /* Optional: limit max width */


}
.statistics-container{
    padding: 1rem;
    display: flex;
    gap: 300px;

}
.enter-url{
    display: flex;
    justify-content: space-between;
}
.add-link{
    width: 500px;
    margin-top: 30px;
    padding: 1rem;
    border-radius: 20px;
    background-color: white;
    margin-left: 150px;
}
.add-btn{
    margin-left: 10px;
    border-radius: 15px;
    padding: 5px 10px;
    background-color: rgb(230, 229, 228);
}
.add-btn:hover{
    background-color: #c6caca;

}
.icons{
    display: flex;
    gap: 8rem;
    margin-top: 2rem;
}
.icons-1{
    display: flex;
    gap: 2rem;
}
.icons-2{
    display: flex;
    gap: 2rem;
}
.insert-container{
    width: 500px;
    padding: 1rem;
    border-radius: 20px;
    background-color: white;
    margin-left: 150px;
    margin-top: 20px;
}
.header-btn{
    display: flex;
    align-items: center;
    margin-left: 160px;
    margin-top: 50px;
    border:1px solid rgb(171, 170, 170);
    border-radius: 10px;
    padding: 5px;
}
.header-btn:hover{
    background-color: #c6caca;
}
.title,.url{
    display: flex;
    position: relative;
    align-items: center;

}
input{
    z-index: 3;
}
.icon-1{
    position: absolute;
    margin-left: 40px;
    z-index: 2;
}
.icon-2{
    position: absolute;
    margin-left: 30px;
    z-index: 2;
}