.profile{
    display: flex;
}
.profile-container{
    background-color: white;
    width: 700px;
    margin-left: 150px;
    margin-top:50px;
    padding: 20px;
    border-radius: 30px;
    height: 400px;
}
.themes-container {
    position: relative;
    z-index: 1;
    margin-left: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 equal columns */
    gap: 30px; /* Space between items */
    padding: 20px; /* Padding around the grid */
    width: 950px;
    background-color: white;
    border-radius: 30px;
}
.background {
    position: relative;
    margin-left: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 equal columns */
    gap: 30px; /* Space between items */
    padding: 20px; /* Padding around the grid */
    width: 950px;
    background-color: white;
    border-radius: 30px;
}
.buttons {
    position: relative;
    margin-left: 40px;
    display: grid;
    grid-template-columns: repeat(3, 250px); /* 4 equal columns */
    gap: 5px; /* Space between items */
    padding: 20px; /* Padding around the grid */
    width: 950px;
    background-color: white;
    border-radius: 30px;
}
.fonts {
    position: relative;
    margin-left: 40px;
    display: grid;
    grid-template-columns: repeat(3, 250px); /* 4 equal columns */
    gap: 5px; /* Space between items */
    padding: 20px; /* Padding around the grid */
    width: 950px;
    background-color: white;
    border-radius: 30px;
}
.mylinkspacelogo {
    position: relative;
    margin-left: 40px;
    display: flex;
    align-items: center;
    gap: 500px; /* Space between items */
    padding: 20px; /* Padding around the grid */
    width: 950px;
    background-color: white;
    border-radius: 30px;
    margin-top: 100px;
    margin-bottom: 50px;
}

.grid-item {
    color: rgb(250, 249, 249);
    position: absolute;
/* Background color for visibility */
 /* Padding inside each container */
    text-align: center; /* Center the text */
    border-radius: 8px; /* Rounded corners */
    font-size: 18px; /* Font size */
    height: 300px; /* Fixed height for better alignment */
    width:200px;
}
.grid-item1{
    color: rgb(250, 249, 249);
    position: absolute;
/* Background color for visibility */
 /* Padding inside each container */
    text-align: center; /* Center the text */ /* Rounded corners */
    font-size: 18px; /* Font size */
    height: 50px; /* Fixed height for better alignment */
    width:200px;
}


